<a href="https://colab.research.google.com/github/DenizGuelcicek/Assignment_1/blob/master/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:

DATA_URL = 'https://raw.githubusercontent.com/pds1920/_a1-template/master/data/'

transactions    = pd.read_csv(DATA_URL + '/sales_train.csv.gz')
items           = pd.read_csv(DATA_URL + '/items.csv')
item_categories = pd.read_csv(DATA_URL + '/item_categories.csv')

In [0]:
transactions.shape
# shape of the datafrane transactions

(1400001, 6)

In [0]:
items.shape
# shape of the dataframe items

(22170, 3)

In [0]:
item_categories.shape
# shape of the dataframe item categories

(84, 2)

In [0]:
items

In [0]:
item_categories

In [0]:
transactions.head(30)

# several rows of dataframes

In [0]:
items.head(100)

In [0]:
item_categories[item_categories.item_category_id==40]

In [0]:
transactions.describe()

In [0]:
transactions[transactions.item_cnt_day<0] #goods returned

In [0]:
transactions.item_price.sum(axis=0) #  total sales

1376608154.6547163

In [0]:
transactions.item_price.sum() #  total sales

1376608154.6547163

In [0]:
#split date field into [day, month, year] components and convert it to pd.datetime type with pd.to_datetime function
transactions["day"] = pd.to_datetime(transactions["date"]).dt.day         
transactions["month"] = pd.to_datetime(transactions["date"]).dt.month
transactions["year"] = pd.to_datetime(transactions["date"]).dt.year
transactions

In [0]:
max_revenue = transactions[(transactions["year"]==2014) & (transactions["month"]==6) & (transactions["item_cnt_day"]>0)]
max_revenue

               date  date_block_num  shop_id  ...  day  month  year
267591   06.01.2014              12       54  ...    1      6  2014
267620   06.01.2014              12       54  ...    1      6  2014
267691   06.01.2014              12       54  ...    1      6  2014
267692   06.01.2014              12       54  ...    1      6  2014
267700   06.01.2014              12       54  ...    1      6  2014
...             ...             ...      ...  ...  ...    ...   ...
1323356  06.12.2014              23       25  ...   12      6  2014
1323382  06.12.2014              23       25  ...   12      6  2014
1323389  06.12.2014              23       25  ...   12      6  2014
1323417  06.12.2014              23       25  ...   12      6  2014
1323421  06.12.2014              23       25  ...   12      6  2014

[83513 rows x 9 columns]

In [0]:
max_revenue = transactions.item_price.sum()
max_revenue

75642550.19470012

In [0]:
transactions.groupby("item_id").item_price.agg(["min", "max"])

            min     max
item_id
0          58.0    58.0
1        4490.0  4490.0
2          58.0    58.0
3          58.0   100.0
4          58.0    58.0
...         ...     ...
22162      28.0    28.0
22165      59.0    59.0
22166     150.0   150.0
22167     155.0   299.0
22169    4349.0  4349.0

[15600 rows x 2 columns]

In [0]:
transactions.duplicated().sum()

In [0]:
# shop_id = 25, in December, 2014
total_num_items_sold = transactions[(transactions["year"]==2014) & (transactions["shop_id"]==25) & (transactions["month"]==12) & (transactions)["item_cnt_day"]>0]
transactions
total_num_items_sold

In [0]:
total_num_items_sold = transactions.groupby("day").item_price.sum() # sum of sales per day  
total_num_items_sold

In [0]:
import numpy as np #

In [0]:
total_num_items_sold_var = total_num_items_sold.var() # the variance of the number of sold items per day sequence for the shop with shop_id = 25 in December, 2014
total_num_items_sold_var

209172024578763.3

In [0]:
import matplotlib.pyplot as plt

In [0]:
%matplotlib inline

In [0]:
transactions.plot(kind='scatter', x='day', y='item_price', title='Daily items sold for shop_id = 25');

In [0]:
#definition of Spring is March to Mai.
spring = transactions[(transactions["year"]==2014) & (transactions["item_cnt_day"]>0) & (transactions["month"] >=3) & (transactions["month"] <=5 )]
spring

In [0]:
category_id_with_max_revenue = spring.groupby("item_id").item_price.sum()
category_id_with_max_revenue #list of item revenues sorted by item_id

In [0]:
category_id_with_max_revenue.max() #the highest revenue in spring 2014

20589017.146825302